# See http://help.github.com/ignore-files/ for more about ignoring files.

#/package-lock.json

# compiled output
/dist
/build
/tmp
/out-tsc
/k8s/data
/CachedData
/User
/logs
/Cache
/GPUCache
/CachedExtensions
/Backups
/Local Storage
/log
/libs

# Database Local
/bd_Data
/metabase-data

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# jest coverage
/coverage
debug.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
test-report.xml
/typings
.npmrc
.old.npmrc
/Workspaces
workspace.json

# System Files
.DS_Store
Thumbs.db

# Test files - executions
D2018*
jmeter.log

# Sonar - Static Analysis
.scannerwork
.env
.env.*
!.env.example
*sec.endpointdlp
*.endpointdlp
